task-1
matrix-calculator/.vs
matrix-calculator/bin
matrix-calculator/obj
matrix-calculator/Properties
matrix-calculator/App.Config
matrix-calculator/matrix-calculator.csproj
matrix-calculator/matrix-calculator.sln

